@import "../styles/mixins";
@import "../styles/variables";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  padding: 10rem 0;
  height: 100%;
  overflow: scroll;

  .top-navigation {
    @include center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: orange;
    height: 80px;
    margin-bottom: $space-xxl;
    z-index: 3;

    .logo {
      text-align: center;
      margin: 0;
      font-size: $text-xxl;
    }
  }

  .main {
    max-width: 60%;
    justify-content: center;
    margin: auto;
    // margin-top: 10rem;

    @media screen and (max-width: $breakpoint-sm) {
      max-width: 80%;
    }

    @media screen and (max-width: $breakpoint-xs) {
      max-width: 100%;
    }
  }
  
}
