<div class="wrapper">
  <mat-card class="pokemon-card">
    <mat-spinner *ngIf="loading"></mat-spinner>

    <mat-card-header *ngIf="pokemon">
      <mat-card-title
        ><h2>{{ pokemon.name }}</h2></mat-card-title
      >
    </mat-card-header>

    <mat-card-content *ngIf="pokemon">
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <img
            mat-card-image
            [src]="pokemon.image.large"
            alt="{{ pokemon.name }}"
            width="80%"
        /></mat-grid-tile>
        <mat-grid-tile>
          <section>
            <div class="details"><strong>ID: </strong>{{ pokemon.id }}</div>
            <div class="details">
              <strong>Strength</strong>
              <span>{{ pokemon.abilities }}</span>
            </div>

            <div class="details">
              <strong>Forms:</strong> {{ pokemon.forms }}
            </div>

            <div class="details">
              <strong>Species</strong>
              <span>{{ pokemon.species }}</span>
            </div>
          </section>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
