<mat-card class="pokemon-card">
  <!-- <mat-card-header>
      <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
      <mat-card-subtitle>Type: {{ pokemon.type | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="pokemon.image" alt="{{ pokemon.name }}" />
    <mat-card-content>
      <p><strong>Strength:</strong> {{ pokemon.strength }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="fetchPokemon(2)">Next Pokémon</button>
    </mat-card-actions> -->
</mat-card>
