@import "../../../styles/mixins";
@import "../../../styles/variables";

.wrapper {
  position: relative;
  .pokemon-card {
    color: $light;

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
}

.mat-mdc-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
