<div class="mat-elevation-z8">
  <table mat-table [dataSource]="pokeList">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ capitalize(element.name) }}</td>
    </ng-container>

    <ng-container matColumnDef="types">
      <th mat-header-cell *matHeaderCellDef>Types</th>
      <td mat-cell *matCellDef="let element">
        {{ getFormatedTypes(element.types) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sprite">
      <th mat-header-cell *matHeaderCellDef>Sprite</th>
      <td mat-cell *matCellDef="let element">
        <img
          [alt]="element.name"
          [src]="element.sprites.front_default || element.sprites.front_shiny"
          width="75"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="clickable-row"
      (click)="onRowClicked(row.id)"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
